.heading
{
    width: 100%;
    margin: 0px;
    padding: 10px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
}

h3
{
    font-weight: 600;
    font-size: 18px;
}

body
{
    background-position: center;
    background-size: cover;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}